* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #99ccff;
}

.header {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}

.title {
  font-family: 'Yellowtail';
  font-size: 3rem;
}

.animation {
  background-color: #ffffff;
  border-top-style: solid;
  border-bottom-style: solid;
  height: 150px;
}

.cat {
  position: relative;
  top: 60px;
  visibility: hidden;
}

.cat,
.cat-image {
  height: 90px;
  width: 180px;
}

.display {
  height: 120px;
  font-size: 4rem;
  justify-content: center;
}

.counter {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.box {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  width: 170px;
  border: solid;
  border-radius: 5px;
  text-align-last: right;
}

.digit {
  padding: 0 10px;
}

.console {
  display: flex;
  justify-content: center;
}

.comand{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.size {
  width: 100px;
  height: 100px;
  text-align: center;
}

.plus,
.minus,
.bell {
  width: 56px;
  height: 56px;
}

@media screen and (max-width: 600px) {
  .size {
    width: 50px;
    height: 50px;
    text-align: center;
  }

  .plus,
  .minus,
  .bell {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 700px) and (min-width: 500px){
  .size {
    width: 75px;
    height: 75px;
    text-align: center;
  }

  .plus,
  .minus,
  .bell {
    width: 42px;
    height: 42px;
  }
}

.button {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffdb4d;
  border: double;
  border-width: 5px;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #ffcc00}

.button:active {
  background-color: #ffcc00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer {
  background-color: #f1f1f1;
  height: 10%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

#count,
.copyright {
  font-family: 'Roboto';
}
